<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="animations.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>


  <script src="bundle.js"></script>
</head>
<body ng-controller="mapControl">

<!--
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>
-->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
<!--
  {{"lowercap string" | uppercase}}
  {{ {foo: "bar", baz: 23} | json }}
  {{ 1304375948024| date}}
  {{1304375948024 | date:"MM/dd/yyyy @ h:mma"}}


<input ng-model="userInput"> Uppercased: {{userInput | uppercase}}
-->
<!-- TODO: 使用svg/d3 在地图上画出带颜色线-->
<div class="map">
  <svg id="map" version="1.1"
     baseProfile="full"
     width="1024" height="607"
     xmlns="http://www.w3.org/2000/svg">
  <image x="0" y="0" width="1024" height="607" xlink:href="./img/map.png"></image>

  <circle cx="150" cy="100" r="80" fill="transparent" />
  <line x1="150" x2="100" y1="110" y2="150" stroke="orange" fill="transparent" stroke-width="5"/>
  </svg>
</div>

<div class="panel">
  <div class="panel inputBox">
    <div  class="panel inputBox input start">
      <span>起点: </span><input type="text" ng-model="startInput">
    </div>

    <div class="panel inputBox input end">
      <span>终点: </span><input type="text" ng-model="endInput">
    </div>
    <ul>
      <li>
        <button id="walkingButton" ng-click="showPath()">我要步行</button>
      </li>
      <li>
        <button id="drivingButton">我要开车</button>
      </li>
      <li>
        <button id="busButton">公交优先</button>
      </li>
    </ul>



    <input id="resetButton" type='reset' value='重置'/>
  </div>
  <div class="panel outputBox">
    <textArea>{{path_str}}</textArea>
  </div>
</div>


   <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
<!--
<script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="services.js"></script>
<script src="animations.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="filters.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
-->


</body>
</html>
